
.header {
    display: flex;
    align-items: center;
    margin: 33px auto;
  }
  
  .header__nav {
    margin-left: 25px;
    /* max-width: 269px; */
    margin-right: auto;
    margin-bottom: 2px;
  }
  
  .header__nav-list {
    display: flex;
    padding: 0;
  }
  
  .header__nav-list-item:not(:last-child) {
    margin-right: 18px;
  }
  
  .header__additional-list {
    font-family: 'Lato', Arial, sans-serif;
    display: flex;
    align-items: center;
  }
  
  .header__additional-list-item:not(:last-child) {
    margin-right: 24px;
  }
  
  .header__nav-list-item {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  
  .header__additional-list-item-link_purple {
    color: #95459A;
    font-size: 17px;
    font-weight: 800;
  }
  
  .header__nav-list-item-link {
    color: #333;
  }
  
  .header__nav-list-item-link:hover {
    color: #008752;
  }
  
  .header__nav-list-item-link:active {
    color: #33333399;
  }
  
  .header__contact-link {
    /* margin-bottom: 2px; */
    font-weight: 700;
    font-size: 15px;
    padding: 12px 44px;
    display: block;
    background-color: #008752;
    color: #FFFFFF;
    text-transform: uppercase;
  }