.header {
    display: flex;
    align-items: center;
    margin: 33px auto;
    &__nav {
      margin-left: 25px;
      margin-right: auto;
      margin-bottom: 2px;
      &-list {
        display: flex; 
        column-gap: 15px;
      }
      &-link {
        font-family: $lato;
        font-size: 17px;
        font-weight: 700;
        line-height: 20px; 
        color: #333;
        &:hover {
          color: #008752;
        }
        &:active {
          color: #33333399;
        }
      }
    }
    &__contacts {
      display: flex;
      align-items: center;
      column-gap: 25px;
      &-link {
        &--phone {
          color: #95459A;
          font-size: 17px;
          font-weight: 800;
        }
        &--contact {
          font-weight: 700;
          font-size: 15px;
          padding: 12px 44px;
          display: block;
          background-color: #008752;
          color: #FFFFFF;
          text-transform: uppercase;
        }
      }
    }
  }