.popup {
    display: none;
    position: relative;
    top: 33%;
    left: 33%;
    z-index: 5;
}

.open {
    display: block;
}

.contact__form {
    position: absolute;
    top: 33%;
    left: 33%;
    width: 680px;
    height: 434px;
    background-color: #EEEEEE;
    padding: 50px;
}

.overflow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(149, 69, 154, 0.90);
    z-index: 2;
}

.contact__form-close {
    position: absolute;
    top: 15px;
    right: 15px;
}