@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";
@import "_fonts";
@import "catalog";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/header";
@import "_blocks/servises__list";
@import "_blocks/servises__list-item";

body {
  padding-bottom: 120px;
}

.banner {
  background-image: url("../img/banner-background.png");
  background-repeat: no-repeat;
  background-position: 60% bottom;
  background-color: #DAE2E5;
  padding: 143px 0 286px;
  &__title {
    @include title;
    font-size: $font-size-banner;
    font-weight: 900;
    max-width: 800px;
  }
  &__btn {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    padding: 16px 55px;
    background-color: #95459A;
    border: none;
    cursor: pointer;
  }
}

/* services block */
.services {
  margin-top: 80px;
  &__title {
    @include title;
    text-align: center;
  }
}

.about {
  position: relative;
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 36px;
  &::after {
    position: absolute;
    content: '';
    width: 570px;
    height: 499px;
    background-color: #008752;
    bottom: 0;
    right: -110px;
  }
  &__wrapper {
    max-width: 40%;
  }
  &__title {
    @include title;
    font-size: 72px;
    text-transform: capitalize;
    font-weight: 900;
  }
  &__desc {
    font-family: 'Lato', sans-serif;
    line-height: 28.08px;
    font-size: 18px;
    margin: 36px 0 34px 0;
  }
  &__link {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 11px 42px;
    color: #FFF;
    text-transform: uppercase;
    background-color: #008752;
  }
  &__img {
    margin-top: -7px;
    z-index: 1;
  }
}