<header class="header container">
    <a class="header__logo" href="/">
        <img class="header__logo-img" src="./img/logo.png" alt="Logotype of ChemDry" width="142" height="64">
    </a>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-list-item"><a class="header__nav-list-item-link" href="catalog.html">Catalog</a></li>
            <li class="header__nav-list-item"><a class="header__nav-list-item-link" href="#">Services</a></li>
            <li class="header__nav-list-item"><a class="header__nav-list-item-link" href="#">Blog</a></li>
            <li class="header__nav-list-item"><a class="header__nav-list-item-link" href="#">About Us</a></li>
        </ul>
    </nav>
    <ul class="header__additional-list">
        <li class="header__additional-list-item">
            <a class="header__additional-list-item-link header__additional-list-item-link_purple" href="tel:7194319698">719-431-9698</a>
        </li>
        <li class="header__additional-list-item">
            <a class="header__additional-list-item-link header__contact-link" href="contact.html">Contact Us</a>
        </li>
    </ul>
</header>