<div class="popup">
    <div class="overflow">
        <form class="contact__form" action="#" method="post">
            <div class="contact__two-input">
                <div class="contact__label-wrapper">
                    <label class="contact__label" for="Name">Name</label>
                    <input class="contact__input" type="text" id="Name" placeholder="Ivan Ivanov">
                </div>
                <div class="contact__label-wrapper">
                    <label class="contact__label" for="Phone">Phone</label>
                    <input class="contact__input" type="tel" id="Phone">
                </div>
            </div>
            <div class="contact__label-wrapper">
                <label class="contact__label" for="Email">Email</label>
                <input class="contact__input" type="email" id="Email">
            </div>
            <fieldset class="contact__payment">
                <legend>Payment method</legend>
                <ul class="contact__list">
                    <li class="contact__item">
                        <input class="contact__item-input" type="checkbox" id="Cash">
                        <label class="contact__item-label" for="Cash">0 - 5</label>
                    </li>
                    <li class="contact__item">
                        <input class="contact__item-input" type="checkbox" id="Credit">
                        <label class="contact__item-label" for="Credit">10 - 20</label>
                    </li>
                    <li class="contact__item">
                        <input class="contact__item-input" type="checkbox" id="Receipt">
                        <label class="contact__item-label" for="Receipt">Receipt</label>
                    </li>
                </ul>
            </fieldset>
            <label class="contact__label" for="Message">Message</label>
            <textarea class="contact__area" id="Message" cols="30" rows="10"></textarea>
            <button class="contact__btn" type="submit">Submit</button>
            <button class="contact__form-close" type="button">x</button>
        </form>
    </div>
  </div>