<ul class="servises__list">
            @@include('blocks/servises__list-item.html', {
              'img': "./img/services-one.jpg",
              'title': "lorem lorem",
              'text': "123456 Text test dl learning",
            })
            @@include('blocks/servises__list-item.html', {
              'img': "./img/services-two.jpg",
              'title': "lorem lorem",
              'text': "123456 Text test dl learning",
            })
            @@include('blocks/servises__list-item.html', {
              'img': "./img/services-three.jpg",
              'title': "lorem lorem",
              'text': "123456 Text test dl learning",
              'class': "top"
            })
            @@include('blocks/servises__list-item.html', {
              'img': "./img/services-four.jpg",
              'title': "lorem lorem",
              'text': "123456 Text test dl learning",
              'class': "bottom"
            })
</ul>